$main-color-text: #2d2d2d;
$main-back: #F0F4FF;
$back-header: transparent;
$back-section-1: #d5deef; // #d5deef // #CBAB61 // #dc9abd // #ecb8d3
$back-section-2: #b8c5ff; // #a1b3ff
$back-section-3: #d2e0ff;
$back-section-4: #ccccff;
$back-section-5: #C3E7F4;
$back-section-6: #ffd1dc;
$back-section-7: #add8e6;
$back-section-8: #ffdcc7;
$back-footer: #DDD8D5;

$height-header: 70px;


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: $main-back;
    color: $main-color-text;

    & header {
        width: 100%;
        max-height: $height-header;
        min-height: $height-header;
        height: $height-header;
        background: #F0F4FF;
        scroll-snap-align: start;
        display: grid;

        & a {
            // Стили для неактивных ссылок в header
            color: $main-color-text;
        }

        & a.active-link {
            // Стили для активной ссылки в header
            font-weight: bold;
            color: blue; // Замените на цвет вашего выбора
        }
    }

    & main {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        min-height: calc(100dvh - $height-header);
        max-height: calc(100dvh - $height-header);
        height: calc(100dvh - $height-header);
        display: grid;
        position: relative;

        & .main-container {
            position: absolute;
            width: 100%;
            max-height: 100%;
            display: grid;
            overflow-x: hidden;
            overflow-y: auto;
            scroll-snap-type: y mandatory;
            grid-template-rows: repeat(9, auto);



            & section {
                width: 100%;
                min-height: calc(100dvh - $height-header);
                scroll-snap-align: start;
                padding: $section-padding;
                row-gap: 5px;

                &.active-section {
                    // Стили для активной секции
                    border: 2px solid red; // Пример границы, замените на свои стили
                }
            }

            & .section-1 {
                grid-row: 1/2;
                background: $back-section-1;
                display: grid;
            }

            .section-2 {
                grid-row: 2/3;
                background: $back-section-2;
                display: grid;
            }

            .section-3 {
                grid-row: 3/4;
                background: $back-section-3;
                display: grid;
            }

            .section-4 {
                grid-row: 4/5;
                background: $back-section-4;
                display: grid;
            }

            .section-5 {
                grid-row: 5/6;
                background: $back-section-5;
                display: grid;
            }

            .section-6 {
                grid-row: 6/7;
                background: $back-section-6;
                display: grid;
            }

            .section-7 {
                grid-row: 7/8;
                background: $back-section-7;
                display: grid;
            }

            .section-8 {
                grid-row: 8/9;
                background: $back-section-8;
                display: grid;
            }

            footer {
                grid-row: 9/10;
                width: 100%;
                min-height: calc(100dvh - $height-header);
                display: flex;
                scroll-snap-align: start;
                background: $back-footer;
            }
        }
    }
}
