body {
    max-width: 100vw;
    width: 100vw;
    height: 100dvh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background: #1F1F1F;
    color: rgb(222, 222, 222);
}

.container-top-content {
    display: grid;
    grid-template-rows: 20dvh 60px;
    width: 100vw;
    position: fixed;
    height: 100%;
}

.zametki {
    display: grid;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.text-zametki {
    min-height: 100%;
    max-height: 100dvh;
    min-width: 90px;
    max-width: 100vw;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 10;
    background: #1f1f1f;
    color: rgb(222, 222, 222);
    /* resize: vertical; */
}

textarea::placeholder {
    text-align: center;
}


.burgers {
    display: flex;
    justify-content: space-between;
    background: #212121;
}


.tabs-vkladki {
    display: grid;
    grid-template-rows: 60px;
    max-width: 100vw;
    width: 100vw;
    height: 100%;
    background: #212121;
}









.header {
    width: 55.44px;
    height: 100%;
    box-sizing: border-box;
    opacity: 0.3;
    padding: 15px;
    cursor: pointer;
}


.burger-menu__item {
    height: 5px;
    background-color: #ccc;
    margin-bottom: 5px;
}

.header:hover {
    opacity: 0.5;
}

.header:hover .burger-menu__item {
    background: #ffffff;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(175, 184, 193, 0.2);
    z-index: 999;
    display: none;
    transition: all 400ms ease;
}

.overlay-open {
    display: block;
    transition: all 400ms ease;
}

.sidebar {
    opacity: 0;
    transition: opacity 0s;
    width: 40%;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-140%);
    background: #161b22;
    z-index: 999;
    /* box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 0 0 1px #30363d, 0 16px 32px rgba(1, 4, 9, 0.85);
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25), 0px -12px 30px rgba(0, 0, 0, 0.12), 0px 4px 6px rgba(0, 0, 0, 0.12), 0px 12px 13px rgba(0, 0, 0, 0.17), 0px -3px 5px rgba(0, 0, 0, 0.09); */
    transition: transform 300ms ease;
    overflow: hidden;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.sidebar-open {
    transform: translateX(0);
    transition: transform 300ms ease;
    opacity: 1;
}

.block-close {
    display: grid;
    justify-content: right;
    padding: 20px;
}

.close__item {
    text-align: center;
    font-size: 24px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #656D76;
}

.tabs {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tabs label {
    display: grid;
    background: #010409;
    /* font-weight: bold; */
    transition: background ease 0.2s;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    border: 1px solid #666;
    box-sizing: border-box;
}

.tabs label:hover {
    background: #171717;
}

.tabs .text-tab {
    display: none;
}

.text-tab {
    position: absolute;
    border: 1px solid #666;
    box-sizing: border-box;
    max-width: 100vw;
    min-width: 100vw;
    max-height: calc(100dvh - 20dvh - 60px - 60px);
    min-height: calc(100dvh - 20dvh - 60px - 60px);
    left: 0;
    overflow-y: auto;
    padding: 10px;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked+label {
    background: #212121;
    border: 1px solid rgb(187, 187, 187);
    border-bottom: none;
    box-sizing: border-box;
}

.tabs input[type="radio"]:checked+label+.text-tab {
    display: block;
    border: 1px solid rgb(187, 187, 187);
    box-sizing: border-box;
}

.content-right-panel {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 28% 62%;
}

.block-top-right-panel {
    /* background: rgba(42, 42, 42, 30%); */
    box-shadow: 0 0 10px 2px rgb(187, 187, 187, 0.2);
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    left: 5%;
    display: grid;
    width: 90%;
    height: 90%;
}

.block-top-right-text {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: solid 1px rgb(187, 187, 187);
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    padding: 10px;
}

.block-top-right-text::-webkit-scrollbar {
    width: 10px;
}

.block-top-right-text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #929292;
    border: 3px solid #161b22;
}

/* .block-top-right-text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2); */
/* border-radius: 10px; */
/* background-color: #b9b9b9;
} */

.block-bottom-right-panel {
    /* background: rgba(42, 42, 42, 30%); */
    box-shadow: 0 0 10px 2px rgb(187, 187, 187, 0.2);
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    left: 5%;
    display: grid;
    width: 90%;
    height: 96%;
}

.block-bottom-right-text {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: solid 1px rgb(187, 187, 187);
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    padding: 10px;
}

.block-bottom-right-text::-webkit-scrollbar {
    width: 10px;
}

.block-bottom-right-text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #929292;
    border: 3px solid #161b22;
}

/* .block-bottom-right-text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2); */
/* border-radius: 10px; */
/* background-color: #b9b9b9;
} */


h4 {
    margin-bottom: 0;
}









.header2 {
    width: 55.44px;
    height: 100%;
    opacity: 0.6;
    box-sizing: border-box;
    opacity: 0.3;
    padding: 15px;
    cursor: pointer;
}

.burger-menu__item2 {
    height: 5px;
    background-color: #ccc;
    margin-bottom: 5px;
}

.header2:hover {
    opacity: 0.5;
}

.header2:hover .burger-menu__item2 {
    background: #ffffff;
}

.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(110, 118, 129, 40%);
    z-index: 999;
    display: none;
    transition: all 400ms ease;
}

.overlay-open2 {
    display: block;
    transition: all 400ms ease;
}

.sidebar2 {
    opacity: 0;
    transition: opacity 0s;
    width: 40%;
    height: 100dvh;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(140%);
    background: #161b22;
    z-index: 999;
    /* box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 0 0 1px #30363d, 0 16px 32px rgba(1, 4, 9, 0.85);
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25), 0px -12px 30px rgba(0, 0, 0, 0.12), 0px 4px 6px rgba(0, 0, 0, 0.12), 0px 12px 13px rgba(0, 0, 0, 0.17), 0px -3px 5px rgba(0, 0, 0, 0.09); */
    transition: transform 300ms ease;
    overflow: hidden;
    border-radius: 12px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.sidebar-open2 {
    transform: translateX(0);
    transition: all 300ms ease;
    opacity: 1;
}

.block-close2 {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.close__item2 {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 24px;
    color: #656D76;
    cursor: pointer;
}

.content-left-panel {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 50% 30% 10%;
}

.top-left-panel {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
}

.header-top-left-panel {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    padding: 10px;
}

.content-top-left-panel {
    width: 100%;
    height: 100%;
}

.spheres {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.details-spheres {
    margin: 10px;
    background: rgba(195, 195, 195, 0.2);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
}

.details-spheres:hover {
    background: rgba(255, 255, 255, 0.2);
}

.header-summary {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.text-sphere {
    margin: 0;
    padding: 10px;
    background: rgba(195, 195, 195, 0.2);
    box-shadow: inset 0px 1px 3px rgba(2, 2, 2, 0.25);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

img {
    height: 70px;
}

.bottom-left-panel {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.header3-top-right-text {
    text-align: center;
}

.header3-bottom-right-text {
    text-align: center;
}



.text-header4-bottom-right-panel {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.details-question {
    margin: 10px;
    background: rgba(255, 255, 255, 0.1);
    /* background: rgba(0, 247, 255, 0.25); #161b22 */
    /* border: 1px solid #0ef; */
    box-shadow: 0 0 5px 2px rgba(2, 2, 2, 0.25);
    box-sizing: border-box;
    border-radius: 20px;
}

.details-question:hover {
    background: rgba(255, 255, 255, 0.15);
}

.header-summary-brp {
    padding: 10px;
    display: flex;
    cursor: pointer;
}

/* .details-question[open] .text-question {
    box-shadow: inset 0px 2px 3px rgba(2, 2, 2, 0.25);
} */

.text-question {
    margin: 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 1px 3px rgba(2, 2, 2, 0.25);
    box-sizing: border-box;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.header-summary-brp button {
    background: none;
    border: 0;
    padding: 1px 6px;
    margin-left: 20px;
    align-self: flex-start;
}

.header-summary-brp button:hover {
    background-color: rgba(129, 129, 129, 0.224);
    /* box-shadow: 0 0 5px 2px rgba(0, 247, 255, 0.224); */
    box-sizing: border-box;
    border-radius: 12px;
}

/* Добавляем стили для активной кнопки */
.header-summary-brp button.active {
    background-color: rgba(0, 247, 255, 0.45);
    box-shadow: 0 0 5px 2px rgba(0, 247, 255, 0.25);
    padding: 1px 6px;
    box-sizing: border-box;
    border-radius: 12px;
    /* Здесь вы можете установить другой цвет для активной кнопки */
}

.spisok {
    padding: 0;
    margin: 0;
}



.block-open-close-details-right-panel {
    display: grid;
    text-align: right;
}

.button-open-close-details-right-panel {
    width: 100%;
    color: red;
    background: none;
    border: none;
    display: flex;
    justify-content: flex-end;
}

.words-button-open-close-right-panel {
    border: solid 1px rgba(144, 160, 179, 0.86);
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    cursor: default;
}


summary {
    cursor: default;
}

.words-open-close {
    color: green;
}


.block-header-open-close {
    display: flex;
}


.open-close-details-left-panel {
    display: grid;
}

.button-open-close-details-left-panel {
    color: red;
    background: none;
    border: none;
    padding: 6px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.words-button-open-close-left-panel {
    border: solid 1px rgba(144, 160, 179, 0.86);
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 15px;
    padding: 10px;
    cursor: default;
}


@media (max-width: 1200px) {

    .sidebar {
        opacity: 0;
        transition: opacity 0s;
        width: 85%;
        left: 0;
        transform: translateX(-140%);
        transition: transform 300ms ease;
    }

    .sidebar-open {
        transform: translateX(0);
        transition: transform 300ms ease;
        opacity: 1;
    }

    .sidebar2 {
        opacity: 0;
        transition: opacity 0s;
        width: 85%;
        right: 0;
        transform: translateX(140%);
        transition: transform 300ms ease;
    }

    .sidebar-open2 {
        transform: translateX(0);
        transition: transform 300ms ease;
        opacity: 1;
    }
}