.all-panels {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr
}

.center {
    grid-column: 1/10;
    position: relative;
}

.right-panel {
    grid-column: 10/13;
}

.pan {
    border: solid;
    position: fixed;
    overflow-y: auto;
    height: 700px;
}
