.all-panels {
    display: grid;
    grid-template-columns: 5fr 2fr;
    align-items: baseline;
}

.right-panel {
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100vh;
    border: solid;
    max-width: 100%;
    margin: ;
}