body {
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background: #1F1F1F;
    color: rgb(222, 222, 222);
}

.container-top-content {
    display: grid;
    grid-template-rows: 10vh 60px;
    width: 100vw;
    position: fixed;
    height: 100%;
}

.zametki {
    display: grid;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.text-zametki {
    min-height: 100%;
    max-height: 100%;
    min-width: 90px;
    max-width: 100vw;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 10;
    background: #1f1f1f;
    /* resize: vertical; */
}

textarea::placeholder {
    text-align: center;
}


.tabs-vkladki {
    display: grid;
    grid-template-columns: 55.44px 1fr 55.44px;
    grid-template-rows: 60px;
    max-width: 100vw;
    width: 100vw;
    height: 100%;
    background: #212121;
}

.header {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    justify-content: space-between;
    box-sizing: border-box;
    opacity: 0.3;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
}


.burger-menu {
    height: 100%;
    width: 100%;
    position: relative;
}

.burger-menu__item {
    height: 5px;
    background-color: #ccc;
    margin-bottom: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(110, 118, 129, 40%);
    z-index: 999;
    display: none;
}

.overlay-open {
    display: block;
}

.sidebar {
    width: 40%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -50%;
    background: #161b22;
    z-index: 999;
    /* box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 0 0 1px #30363d, 0 16px 32px rgba(1, 4, 9, 0.85);
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25), 0px -12px 30px rgba(0, 0, 0, 0.12), 0px 4px 6px rgba(0, 0, 0, 0.12), 0px 12px 13px rgba(0, 0, 0, 0.17), 0px -3px 5px rgba(0, 0, 0, 0.09); */
    transition: right linear 200ms;
    overflow: hidden;
    border-radius: 12px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.sidebar-open {
    right: 0;
    transition: right linear 200ms;
}

.block-close {
    display: flex;
    justify-content: left;
    left: 20px;
    position: relative;
}

.close {
    width: 5%;
    height: 100%;
}

.close__item {
    display: flex;
    font-size: 150%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #656D76;
    cursor: pointer;
}

.tabs {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tabs label {
    display: grid;
    background: #010409;
    /* font-weight: bold; */
    transition: background ease 0.2s;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    border: 1px solid #666;
    box-sizing: border-box;
}

.tabs .text-tab {
    display: none;
}

.text-tab {
    position: absolute;
    border: 1px solid #666;
    box-sizing: border-box;
    max-width: 100vw;
    min-width: 100vw;
    max-height: calc(100vh - 10vh - 60px);
    min-height: calc(100vh - 10vh - 60px);
    margin-left: -55.44px;
    margin-right: -55.44px;
    left: 0;
    overflow-y: auto;
    padding: 10px;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked+label {
    background: #212121;
    border: 1px solid rgb(0, 255, 229, 0.6);
    border-bottom: none;
    box-sizing: border-box;
}

.tabs input[type="radio"]:checked+label+.text-tab {
    display: block;
    border: 1px solid rgb(0, 255, 229, 0.6);
    box-sizing: border-box;
}

.content-right-panel {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 6% 30% 64%;
}

.block-top-right-panel {
    background: rgba(42, 42, 42, 30%);
    box-shadow: 0 0 10px 5px rgba(186, 0, 124, 0.2);
    border-radius: 20px;
    position: relative;
    left: 5%;
    display: grid;
    width: 90%;
    height: 90%;
}

.block-top-right-text {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: solid 1px rgb(255, 0, 183);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
}

.block-top-right-text::-webkit-scrollbar {
    width: 15px;
}

.block-top-right-text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(73, 0, 147);
    border: 3px solid #ffffff;
}

.block-top-right-text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

.block-bottom-right-panel {
    background: rgba(42, 42, 42, 30%);
    box-shadow: 0 0 10px 5px rgba(186, 0, 124, 0.2);
    border-radius: 20px;
    position: relative;
    left: 5%;
    display: grid;
    width: 90%;
    height: 90%;
}

.block-bottom-right-text {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: solid 1px rgb(255, 0, 183);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
}

.block-bottom-right-text::-webkit-scrollbar {
    width: 15px;
}

.block-bottom-right-text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(73, 0, 147);
    border: 3px solid #ffffff;
}

.block-bottom-right-text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}


h4 {
    margin-bottom: 0;
}








.header2 {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    justify-content: space-between;
    box-sizing: border-box;
    opacity: 0.3;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
}


.burger-menu2 {
    height: 100%;
    width: 100%;
    position: relative;
}

.burger-menu__item2 {
    height: 5px;
    background-color: #ccc;
    margin-bottom: 5px;
}

.overlay2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(175, 184, 193, 0.2);
    z-index: 999;
    display: none;
}

.overlay-open2 {
    display: block;
}

.sidebar2 {
    width: 40%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -50%;
    background: #161b22;
    z-index: 999;
    /* box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 0 0 1px #30363d, 0 16px 32px rgba(1, 4, 9, 0.85);
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25), 0px -12px 30px rgba(0, 0, 0, 0.12), 0px 4px 6px rgba(0, 0, 0, 0.12), 0px 12px 13px rgba(0, 0, 0, 0.17), 0px -3px 5px rgba(0, 0, 0, 0.09); */
    transition: left linear 200ms;
    overflow: hidden;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.sidebar-open2 {
    left: 0;
    transition: left linear 200ms;
}

.block-close2 {
    display: flex;
    justify-content: right;
    right: 20px;
    position: relative;
}

.close2 {
    width: 5%;
    height: 100%;
}

.close__item2 {
    display: flex;
    font-size: 150%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #656D76;
    cursor: pointer;
}

.content-left-panel {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 6% 30% 64%;
}

.top-left-panel {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.bottom-left-panel {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.header3-top-right-text {
    text-align: center;
}

.header3-bottom-right-text {
    text-align: center;
}

@media (max-width: 1200px) {

    .sidebar {
        width: 70%;
        right: -80%;
    }

    .sidebar-open {
        right: 0;
        transition: right linear 200ms;
    }

    .sidebar2 {
        width: 70%;
        left: -80%;
    }

    .sidebar-open2 {
        left: 0;
        transition: left ease 200ms;
    }
}