body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.image-container {
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 1fr);
    min-height: 8vh;
    align-items: end;
    text-align: center;
}

.fix-text {
    margin: 0;
    padding: 0;
    color: rgb(148, 148, 148);
}

img {
    width: 35px;
}

.kart3 {
    width: 44.5px;
}

.image-content a {
    text-decoration: none;
}

.block-content {
    display: grid;
    grid-template-columns: 1fr 5fr 1.5fr;
    height: calc(100vh - 10vh);
    padding: 0;
    margin: 0;
}

.left-panel {
    overflow-y: auto;
    padding: 0;
    margin: 0;
    height: calc(100vh - 10vh);
    border: solid;
}

.left-panel-navigation {
    margin: 5px;
    padding: 0;
}

.content-center-panel {
    height: calc(100vh - 10vh);
    overflow-y: auto;
    padding: 0;
    margin: 0;
    border: solid;
}

.content-panel-text {
    margin: 5px;
    padding: 0;
}

.right-panel {
    display: grid;
    grid-template-rows: 20% 80%;
    height: calc(100vh - 10vh);
    padding: 0;
    margin: 0;
    border: solid;
}

.top-right-panel {
    overflow-y: auto;
    padding: 0;
    margin: 0;
    border: solid;
}

.top-right-text {
    margin: 5px;
    padding: 0;
}

.bottom-right-panel {
    overflow-y: auto;
    padding: 0;
    margin: 0;
    border: solid;
}

.bottom-right-text {
    margin: 5px;
    padding: 0;
}