* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #F0F4FF;
  color: #2d2d2d;
}
body header {
  width: 100%;
  max-height: 70px;
  min-height: 70px;
  height: 70px;
  background: #F0F4FF;
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  padding-top: clamp(1px, 1%, 12px);
  padding-bottom: clamp(1px, 1%, 12px);
  padding-left: clamp(1px, 2%, 75px);
  padding-right: clamp(1px, 2%, 75px);
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
body header .left-container-header {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
body header .right-container-header {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3px;
     -moz-column-gap: 3px;
          column-gap: 3px;
  row-gap: 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body header .right-container-header .mini-img {
  width: 20px;
  height: 20px;
}
body header .right-container-header .img-site-1 {
  background: #d5deef;
}
body header .right-container-header .img-site-2 {
  background: #b8c5ff;
}
body header .right-container-header .img-site-3 {
  background: #d2e0ff;
}
body header .right-container-header .img-site-4 {
  background: #ccccff;
}
body header .right-container-header .img-site-5 {
  background: #C3E7F4;
}
body header .right-container-header .img-site-6 {
  background: #ffd1dc;
}
body header .right-container-header .img-site-7 {
  background: #add8e6;
}
body header .right-container-header .img-site-8 {
  background: #ffdcc7;
}
body header .right-container-header .img-site-9 {
  background: #DDD8D5;
}
body main {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  min-height: calc(100dvh - 70px);
  max-height: calc(100dvh - 70px);
  height: calc(100dvh - 70px);
  display: grid;
  position: relative;
}
body main .main-container {
  position: absolute;
  width: 100%;
  max-height: 100%;
  display: grid;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  grid-template-rows: repeat(9, auto);
}
body main .main-container section {
  width: 100%;
  min-height: calc(100dvh - 70px);
  scroll-snap-align: start;
}
body main .main-container .section-1 {
  grid-row: 1/2;
  background: #d5deef;
  display: grid;
}
body main .main-container .section-2 {
  grid-row: 2/3;
  background: #b8c5ff;
  display: grid;
}
body main .main-container .section-3 {
  grid-row: 3/4;
  background: #d2e0ff;
  display: grid;
}
body main .main-container .section-4 {
  grid-row: 4/5;
  background: #ccccff;
  display: grid;
}
body main .main-container .section-5 {
  grid-row: 5/6;
  background: #C3E7F4;
  display: grid;
}
body main .main-container .section-6 {
  grid-row: 6/7;
  background: #ffd1dc;
  display: grid;
}
body main .main-container .section-7 {
  grid-row: 7/8;
  background: #add8e6;
  display: grid;
}
body main .main-container .section-8 {
  grid-row: 8/9;
  background: #ffdcc7;
  display: grid;
}
body main .main-container footer {
  grid-row: 9/10;
  min-height: calc(100dvh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #DDD8D5;
}