html {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  min-height: 100dvh;
  max-height: 100dvh;
  height: 100dvh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
}

html {
  position: absolute;
  background: #F0F4FF;
  color: #2d2d2d;
  display: grid;
  overflow-y: auto;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  grid-template-rows: repeat(9, auto);
}

body {
  margin: 0;
  padding: 0;
}
body header {
  position: fixed;
  width: 100%;
  max-height: 100px;
  height: 100px;
  z-index: 10;
}
body section {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  scroll-snap-align: start;
  padding-top: 100px;
}
body .section-1 {
  grid-row: 1/2;
  background: #d5deef;
}
body .section-2 {
  grid-row: 2/3;
  background: #a1b3ff;
}
body .section-3 {
  grid-row: 3/4;
  background: #d2e0ff;
}
body .section-4 {
  grid-row: 4/5;
  background: #ccccff;
}
body .section-5 {
  grid-row: 5/6;
  background: #C3E7F4;
}
body .section-6 {
  grid-row: 6/7;
  background: #ffd1dc;
}
body .section-7 {
  grid-row: 7/8;
  background: #add8e6;
}
body .section-8 {
  grid-row: 8/9;
  background: #ffdcc7;
}
body footer {
  grid-row: 9/10;
  width: 100%;
  min-height: 100dvh;
  display: grid;
  scroll-snap-align: start;
  padding-top: 100px;
}