* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  min-width: 180px;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background: #F0F4FF;
  color: #2d2d2d;
}

a {
  font-size: 16px;
  color: #2d2d2d;
}

a:hover {
  text-decoration: underline;
}

header {
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: clamp(10px, 3%, 15px);
  padding-bottom: clamp(10px, 3%, 15px);
  padding-left: clamp(10px, 5%, 75px);
  padding-right: clamp(10px, 5%, 75px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  border-bottom: 2px solid rgba(46, 46, 46, 0.1);
}
header .left-container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 5px;
}
header .left-container-header .logo-site {
  width: 32px;
  height: 32px;
}
header .left-container-header .logo-mir {
  width: 50px;
  height: 30px;
}
header .right-container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 5px;
}
header .right-container-header .button-header {
  background: #F0F4FF;
  border: solid 1px #2d2d2d;
  border-radius: 48px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  padding-top: 114px;
  /* clamp(15px, 4%, 60px) */
  padding-bottom: 114px;
  /* clamp(15px, 4%, 60px) */
  padding-left: clamp(3%, 5%, 75px);
  padding-right: clamp(3%, 5%, 75px);
  grid-template-rows: repeat(8, auto);
  row-gap: 120px;
}
main .container-block-1 {
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 30px;
  position: relative;
}
main .container-block-1 .left-block-1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
main .container-block-1 .left-block-1 .icon-text {
  display: grid;
  grid-template-columns: 32px auto;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
main .container-block-1 .left-block-1 .icon-text .icon-play {
  width: 32px;
  height: 32px;
}
main .container-block-1 .left-block-1 .icon-text .text-icon {
  width: 100%;
  height: 100%;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 156.25%;
}
main .container-block-1 .left-block-1 .block-h-text-1 {
  display: grid;
  margin-top: clamp(3%, 7%, 50px);
  margin-bottom: clamp(3%, 4%, 23px);
}
main .container-block-1 .left-block-1 .block-h-text-1 .head-text {
  font-size: clamp(28px, 6vw, 42px);
  line-height: 120%;
}
main .container-block-1 .left-block-1 .main-text-1 {
  line-height: 144%;
}
main .container-block-1 .left-block-1 .icons-download-official {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: clamp(5px, 5%, 14px);
  row-gap: 21px;
}
main .container-block-1 .left-block-1 .icons-download-official .icon-download {
  width: 170px;
  height: 50px;
}
main .container-block-1 .left-block-1 .icons-download-official .icon-official {
  width: 170px;
  height: 50px;
}
main .container-block-1 .right-block-1 {
  width: 100%;
  height: 100%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
main .container-block-1 .right-block-1 .img-1 {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
main .container-block-2 {
  grid-row: 2/3;
  margin-top: 2px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 30px;
  position: relative;
}
main .container-block-2 .left-block-2 {
  width: 100%;
  height: 100%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
main .container-block-2 .left-block-2 .img-2 {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
main .container-block-2 .right-block-2 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
main .container-block-2 .right-block-2 .block-h-text-2 {
  margin-bottom: clamp(1%, 4%, 22px);
  font-size: clamp(26px, 5vw, 36px);
  line-height: 120%;
}
main .container-block-2 .right-block-2 .block-main-text-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}
main .container-block-2 .right-block-2 .block-main-text-2 .main-text-2 {
  line-height: 144%;
}
@media screen and (max-width: 344px) {
  main .container-block-2 .left-block-2:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .container-block-2 .right-block-2:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
main .container-block-3 {
  grid-row: 3/4;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 30px;
  position: relative;
}
main .container-block-3 .left-block-3 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
main .container-block-3 .left-block-3 .block-h-text-3 {
  font-size: clamp(26px, 5vw, 36px);
  line-height: 120%;
  margin-bottom: clamp(1%, 4%, 22px);
}
main .container-block-3 .left-block-3 .main-text-3 {
  margin-bottom: 12px;
  line-height: 144%;
}
main .container-block-3 .left-block-3 .block-main-text-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  line-height: 144%;
}
main .container-block-3 .right-block-3 {
  width: 100%;
  height: 100%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
main .container-block-3 .right-block-3 .img-3 {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
main .container-block-4 {
  grid-row: 4/5;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 30px;
  position: relative;
}
main .container-block-4 .top-block-4 {
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .container-block-4 .top-block-4 .content-top-block-4 {
  max-width: 600px;
}
main .container-block-4 .top-block-4 .content-top-block-4 .block-h-text-4 {
  text-align: center;
  font-size: clamp(26px, 5vw, 36px);
  line-height: 120%;
}
main .container-block-4 .top-block-4 .content-top-block-4 .text-2-top-block-4 {
  text-align: center;
  line-height: 144%;
}
main .container-block-4 .bottom-block-4 {
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  display: grid;
  row-gap: 10px;
}
main .container-block-4 .bottom-block-4 .block-text-bottom-block-4 {
  width: 100%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .container-block-4 .bottom-block-4 .block-text-bottom-block-4 .text-bottom-block-4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  background: #F0F4FF;
  border: solid 1px #2d2d2d;
  border-radius: 48px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}
main .container-block-4 .bottom-block-4 .icons-bottom-block-4 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 64px);
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}
main .container-block-4 .bottom-block-4 .icons-bottom-block-4 .icon-music {
  max-width: 100%;
  min-width: 32px;
  width: 100%;
  max-height: 100%;
  min-height: 32px;
  height: 100%;
}
main .container-block-4 .bottom-block-4 .icons-bottom-block-4 .icon-movies {
  max-width: 100%;
  min-width: 32px;
  width: 100%;
  max-height: 100%;
  min-height: 32px;
  height: 100%;
}
main .container-block-4 .bottom-block-4 .icons-bottom-block-4 .icon-games {
  max-width: 100%;
  min-width: 32px;
  width: 100%;
  max-height: 100%;
  min-height: 32px;
  height: 100%;
}
main .container-block-4 .bottom-block-4 .icons-bottom-block-4 .icon-design {
  max-width: 100%;
  min-width: 32px;
  width: 100%;
  max-height: 100%;
  min-height: 32px;
  height: 100%;
}
main .container-block-4 .bottom-block-4 .icons-bottom-block-4 .icon-books {
  max-width: 100%;
  min-width: 32px;
  width: 100%;
  max-height: 100%;
  min-height: 32px;
  height: 100%;
}
main .container-block-4 .bottom-block-4 .icons-bottom-block-4 .icon-airplane {
  max-width: 100%;
  min-width: 32px;
  width: 100%;
  max-height: 100%;
  min-height: 32px;
  height: 100%;
}
main .container-block-4 .bottom-block-4 .icons-bottom-block-4 .icon-food {
  max-width: 100%;
  min-width: 32px;
  width: 100%;
  max-height: 100%;
  min-height: 32px;
  height: 100%;
}
main .container-block-4 .bottom-block-4 .icons-bottom-block-4 .icon-style {
  max-width: 100%;
  min-width: 32px;
  width: 100%;
  max-height: 100%;
  min-height: 32px;
  height: 100%;
}
main .container-block-5 {
  grid-row: 5/6;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 30px;
  position: relative;
}
main .container-block-5 .left-block-5 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .container-block-5 .left-block-5 .block-h-text-5 {
  font-size: clamp(26px, 5vw, 36px);
  line-height: 120%;
  margin-bottom: clamp(1%, 4%, 22px);
}
main .container-block-5 .left-block-5 .main-text-5 {
  line-height: 144%;
}
main .container-block-5 .left-block-5 .block-icons-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .container-block-5 .left-block-5 .block-icons-mini .download-mini {
  width: 120px;
  height: 50px;
}
main .container-block-5 .left-block-5 .block-icons-mini .main-official-site {
  width: 120px;
  height: 50px;
}
main .container-block-5 .right-block-5 {
  width: 100%;
  height: 100%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .container-block-5 .right-block-5 .img-5 {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
main .container-block-6 {
  grid-row: 6/7;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 30px;
  position: relative;
}
main .container-block-6 .left-block-6 {
  width: 100%;
  height: 100%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
main .container-block-6 .left-block-6 .img-6 {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
main .container-block-6 .right-block-6 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
main .container-block-6 .right-block-6 .block-h-text-6 {
  font-size: clamp(26px, 5vw, 36px);
  line-height: 120%;
  margin-bottom: clamp(1%, 4%, 22px);
}
main .container-block-6 .right-block-6 .block-main-text-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  line-height: 144%;
}
@media screen and (max-width: 344px) {
  main .container-block-6 .left-block-6:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .container-block-6 .right-block-6:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
main .container-block-7 {
  grid-row: 7/8;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 30px;
  position: relative;
}
main .container-block-7 .left-block-7 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .container-block-7 .left-block-7 .block-h-text-7 {
  font-size: clamp(26px, 5vw, 36px);
  line-height: 120%;
  margin-bottom: clamp(1%, 4%, 19px);
}
main .container-block-7 .left-block-7 .block-main-text-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  line-height: 144%;
}
main .container-block-7 .right-block-7 {
  width: 100%;
  height: 100%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .container-block-7 .right-block-7 .img-7 {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
main .container-block-8 {
  grid-row: 8/9;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 30px;
  position: relative;
}
main .container-block-8 .left-block-8 {
  width: 100%;
  height: 100%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
main .container-block-8 .left-block-8 .img-8 {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
main .container-block-8 .right-block-8 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
main .container-block-8 .right-block-8 .block-h-text-8 {
  font-size: clamp(26px, 5vw, 36px);
  line-height: 120%;
  margin-bottom: clamp(1%, 4%, 22px);
}
main .container-block-8 .right-block-8 .block-main-text-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
  line-height: 144%;
  margin-bottom: clamp(15px, 5%, 32px);
}
main .container-block-8 .right-block-8 .icons-download-official {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .container-block-8 .right-block-8 .icons-download-official .icon-download {
  width: 170px;
  height: 50px;
}
main .container-block-8 .right-block-8 .icons-download-official .icon-official {
  width: 170px;
  height: 50px;
}
@media screen and (max-width: 344px) {
  main .container-block-8 .left-block-8:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .container-block-8 .right-block-8:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

footer {
  width: 100%;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  row-gap: 20px;
  border-bottom: 2px solid rgba(46, 46, 46, 0.1);
}
footer .foot-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
}
footer .foot-blocks span a {
  font-size: 14px;
}